/* adjusting the built-in theme */

/* calendar event */
.calendar_default_event_inner {
    background: #2e78d6;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 10pt;
    padding: 5px;
    opacity: 0.8;
}
.calendar_default_main {
    width: 50%;
}

.calendar-wrapper {
    margin-right: 20px;
    margin-bottom: 10px;
}

.body-wrapper {
    display: flex;
    margin-top: 10px;
}

.schedule-list-wrapper {
    margin-right: 10px;
    margin-left: 10px;
    white-space: nowrap;
}

.schedule-tile {
    background-color: #2e78d6;
    border-radius: 10px !important;
    padding: 10px;
    margin: 10px;
}

.schedule-tile-header {
    h4 {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.visibility-toggle-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.schedule-tile-event-wrapper {
    margin-top: 0px;
    margin-bottom: 5px;
    padding-left: 20px;
    li {
        text-align: left;
    }
}
